body {
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  background: linear-gradient(to bottom, #fff0f5, #ffe4e1);
  color: #333;
  padding: 20px;
}

.galeri img {
  width: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px #aaa;
}
